body{
    overflow-x: hidden;
}

/* definir as propriedades do topo */
header {width: 100%; height: 40px; background-color: #00ffff; position: relative; top: 0;}

.containerPrincipal {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-top: 5%;
}

.comnponentLogin {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    width: 30%;
    justify-content: center;
    padding-right: 10%;

}

.infoComponentLogin {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.componentCadastro {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding-left: 10%;
}

.infoComponentCadastro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.separacao {
    border-style: double;
    width: 2px;
    border-color: black;
}